includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app
        - config
        - database
    level: 6

    bootstrapFiles:
        - vendor/larastan/larastan/bootstrap.php
